header{
	border: 4px solid black;
	padding: 1em 0;
	background-image: -webkit-linear-gradient(45deg, white 0%, #FFA500 75%, black 100%);
}

header h2{font-size: 250%;
color: black;
line-height: 3px;
}

body h1{font-size: 200%;
}

body h1::first-letter{font-size: 250%;}


a:link{
	color: #FFA500;
	font-weight: bold;
}

ul{
	line-height: 1.5em;
}

li{
  font-size: 110%;
}

footer{
	font-size: 90%;
	text-align:center;
	border: 4px solid black;
	padding: 0.5em 1em;
	line-height: 3px;
	background: -webkit-linear-gradient(45deg, black 0%, #FFA500 75%, white 100%);
}
